*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class*="col-"]{
  border: 1px solid black;
}

[class*="col-"]{
  height: 100%;
  position: relative;
  background-color: pink;
  padding: 3px;
}

[class*="col-"]>span{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row{
  height: 300px
}

.last{
  background-color: #f07f80;
  border: 1px solid #fff;
}
